<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.roberthernandez.code2040_fellows_2017_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/code2040_small_logo"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme">
        <!-- This provides a hackish way of creating a splash screen that immediately calls the
        main activity that can be displayed before the whole app initializes -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Actual main activitiy -->
<!--        <activity android:name=".MainActivity"></activity> -->
    </application>

</manifest>
